<style>
 
        html{
            background-color: green;


        }
        body {
            background-color:green;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
 
        form {
            background-color: whitesmoke;
            max-width: 500px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px black;
        }
 
        .formulario {
            text-align: left;
            margin-bottom: 25px;
        }

        .formulario label {
            display: block;
            margin-bottom: 10px;
    
        }
 
        .formulario input,
        .formulario select,
        .formulario textarea {
            border: 1px solid black;
            border-radius: 2px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;
        }
 
       
        .formulario input[type="radio"],
        .formulario input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }
 
        button {
            background-color: greenyellow;
            border: 1px solid black;
            border-radius: 2px;
            font-family: inherit;
            font-size: 21px;
            display: block;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
    </style>